
<%= javascript_include_tag 'main' %>
<%= javascript_include_tag 'mailadmin/mailboxes' %>

<label for="first_letter" hidden="hidden"></label><input id="first_letter" hidden="hidden">

<div class="box">

  <div class="box-header">
    <h3 class="box-title">Почтовые ящики (мэйлбоксы) домена: &nbsp;&nbsp;&nbsp;

      <%= select_tag 'domain_changer', options_from_collection_for_select(@form_data[:domains], 'id', 'domain'),
                     prompt: 'Все домены'
      %>

    </h3>
  </div>

  <ul class="pagination pagination-my">
    <li <%= params[:id]=='all' ? 'class=active' :'' %> ><a onclick="change_letter('')" style="cursor: pointer">&nbsp;&nbsp;&nbsp;Все&nbsp;&nbsp;&nbsp;</a></li>
    <li <%= params[:id]=='a' ? 'class=active' :'' %> ><a onclick="change_letter('a')" style="cursor: pointer">a</a></li>
    <li <%= params[:id]=='b' ? 'class=active' :'' %> ><a onclick="change_letter('b')" style="cursor: pointer">b</a></li>
    <li <%= params[:id]=='c' ? 'class=active' :'' %> ><a onclick="change_letter('c')" style="cursor: pointer">c</a></li>
    <li <%= params[:id]=='d' ? 'class=active' :'' %> ><a onclick="change_letter('d')" style="cursor: pointer">d</a></li>
    <li <%= params[:id]=='e' ? 'class=active' :'' %> ><a onclick="change_letter('e')" style="cursor: pointer">e</a></li>
    <li <%= params[:id]=='f' ? 'class=active' :'' %> ><a onclick="change_letter('f')" style="cursor: pointer">f</a></li>
    <li <%= params[:id]=='g' ? 'class=active' :'' %> ><a onclick="change_letter('g')" style="cursor: pointer">g</a></li>
    <li <%= params[:id]=='h' ? 'class=active' :'' %> ><a onclick="change_letter('h')" style="cursor: pointer">h</a></li>
    <li <%= params[:id]=='i' ? 'class=active' :'' %> ><a onclick="change_letter('i')" style="cursor: pointer">i</a></li>
    <li <%= params[:id]=='j' ? 'class=active' :'' %> ><a onclick="change_letter('j')" style="cursor: pointer">j</a></li>
    <li <%= params[:id]=='k' ? 'class=active' :'' %> ><a onclick="change_letter('k')" style="cursor: pointer">k</a></li>
    <li <%= params[:id]=='l' ? 'class=active' :'' %> ><a onclick="change_letter('l')" style="cursor: pointer">l</a></li>
    <li <%= params[:id]=='m' ? 'class=active' :'' %> ><a onclick="change_letter('m')" style="cursor: pointer">m</a></li>
    <li <%= params[:id]=='n' ? 'class=active' :'' %> ><a onclick="change_letter('n')" style="cursor: pointer">n</a></li>
    <li <%= params[:id]=='o' ? 'class=active' :'' %> ><a onclick="change_letter('o')" style="cursor: pointer">o</a></li>
    <li <%= params[:id]=='p' ? 'class=active' :'' %> ><a onclick="change_letter('p')" style="cursor: pointer">p</a></li>
    <li <%= params[:id]=='q' ? 'class=active' :'' %> ><a onclick="change_letter('q')" style="cursor: pointer">q</a></li>
    <li <%= params[:id]=='r' ? 'class=active' :'' %> ><a onclick="change_letter('r')" style="cursor: pointer">r</a></li>
    <li <%= params[:id]=='s' ? 'class=active' :'' %> ><a onclick="change_letter('s')" style="cursor: pointer">s</a></li>
    <li <%= params[:id]=='t' ? 'class=active' :'' %> ><a onclick="change_letter('t')" style="cursor: pointer">t</a></li>
    <li <%= params[:id]=='u' ? 'class=active' :'' %> ><a onclick="change_letter('u')" style="cursor: pointer">u</a></li>
    <li <%= params[:id]=='v' ? 'class=active' :'' %> ><a onclick="change_letter('v')" style="cursor: pointer">v</a></li>
    <li <%= params[:id]=='w' ? 'class=active' :'' %> ><a onclick="change_letter('w')" style="cursor: pointer">w</a></li>
    <li <%= params[:id]=='x' ? 'class=active' :'' %> ><a onclick="change_letter('x')" style="cursor: pointer">x</a></li>
    <li <%= params[:id]=='y' ? 'class=active' :'' %> ><a onclick="change_letter('y')" style="cursor: pointer">y</a></li>
    <li <%= params[:id]=='z' ? 'class=active' :'' %> ><a onclick="change_letter('z')" style="cursor: pointer">z</a></li>

  </ul>



  <div class="box-body">

    <table class="table table-bordered table-condensed tablesorter" id="tbl_adresses">
      <thead>

      <tr>
        <th data-placeholder="" class="filter-match col-md-2">E-mail</th>
        <th data-placeholder="" class="filter-match col-md-1">Тип</th>
        <th data-placeholder="" class="filter-match col-md-1">Пароль</th>
        <th data-placeholder="" class="filter-match col-md-2">Сотрудник</th>
        <th data-placeholder="" class="filter-match col-md-1">Организация</th>
        <th data-placeholder="" class="filter-match col-md-1"></th>

      </tr>

      </thead>

      <tbody id="tbody_users">




      </tbody>
    </table>

  </div>

</div>
