<% @form_data[:mailboxes].each do |mailbox| %>
    <tr id="r_<%= mailbox.id %>" style="background-color: <%= MailDomain.find(mailbox.mail_domain_id).color %>">
      <td><%= mailbox.email%></td>
      <td>
        <%= mailbox.relay_front %>
      </td>
      <td id="pw_<%= mailbox.id %>">---<i class="fa fa-info-circle pull-right" style="cursor: pointer;" onclick="info_pwd(<%= mailbox.id %>)"></i></td>
      <td><%= mailbox.name %></td>
      <td><%= mailbox.org %></td>
      <td></td>
    </tr>
<% end %>