<% @form_data[:mailboxes].each do |mailbox| %>
    <tr id="r_<%= mailbox.id %>" style="background-color: <%= MailDomain.find(mailbox.mail_domain_id).color %>">
      <td><%= mailbox.email%></td>
      <td>
        <%= MailRelay.where('host = ?', mailbox.relay_front).first.comment %>
      </td>
      <td id="pw_<%= mailbox.id %>">---<i class="fa fa-info-circle pull-right" style="cursor: pointer;" onclick="info_pwd(<%= mailbox.id %>)"></i></td>
      <td><%= mailbox.name %></td>
      <td><%= mailbox.org %></td>
      <td>


        <button type="button" class="btn btn-success btn-sm disabled" ><i class="fa fa-battery-2"></i></button>


        <%

           if mailbox.active == true
            end



        %>


      </td>
    </tr>
<% end %>