<%= javascript_include_tag "jquery.mask.min" %>

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Новое устройство</h4>
    </div>
    <div class="modal-body">



      <form class="form-horizontal" role="form" id="device_edit" name="device_edit">
        <fieldset>

          <div class="form-group" hidden="hidden">
            <label for="id_edit" class="col-sm-2 control-label">id</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="id_edit" name="id_edit" placeholder="id_edit" readonly
                     value="<%= @form_data[:device].id %>"
              >
            </div>
          </div>

          <div class="form-group">
            <label for="MAC_edit" class="col-sm-2 control-label">MAC</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="MAC_edit" name="MAC_edit" placeholder="MAC_edit" readonly
                     value="<%= @form_data[:device].mac %>"
              >
            </div>
          </div>

          <div class="form-group">
            <label for="phone_model_edit" class="col-sm-2 control-label">Модель</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="phone_model_edit" name="phone_model_edit" placeholder="phone_model_edit" readonly
                     value="<%= IpPhoneType.find(@form_data[:device].ip_phone_type_id).model %>"
              >
            </div>
          </div>

          <div class="form-group">
            <label for="corp_number_edit" class="col-sm-2 control-label">Здание</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="corp_number_edit" name="corp_number_edit" placeholder="Номер"
                     value="<%= @form_data[:device].corp_number %>"
              >
            </div>
          </div>

          <div class="form-group">
            <label for="building_edit" class="col-sm-2 control-label">Здание</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="building_edit" name="building_edit" placeholder="Здание"
                     value="<%= @form_data[:device].building %>"
              >
            </div>
          </div>

          <div class="form-group">
            <label for="room_edit" class="col-sm-2 control-label">Кабинет</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="room_edit" name="room_edit" placeholder="Кабинет"
                     value="<%= @form_data[:device].room %>"
              >
            </div>
          </div>


        </fieldset>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" onclick="device_edit_save()">Сохранить</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
      </form>

    </div>

  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->