
<%= javascript_include_tag "main" %>
<%= javascript_include_tag "mailadmin/aliases" %>


<div class="box">

  <div class="box-header">

    <h3 class="box-title"> <a type="button" href="/mailadmin/aliases/list"><i class="fa fa-reply"></i></a>      Почтовый алиас <a class="text-green"><%= @form_data[:al].alias %> </a></h3>
  </div>




  <div class="box-body">

    <table class="table table-bordered table-condensed tablesorter" id="tbl_adresses">
      <thead>

      <tr>
        <th data-placeholder="" class="filter-match col-md-1">id</th>
        <th data-placeholder="" class="filter-match col-md-9">Адрес</th>
        <th data-placeholder="" class="filter-match col-md-1"></th>

      </tr>

      </thead>

      <tbody>
      <% @form_data[:mail_users].each.with_index do |mail_user, index| %>
          <tr id="r_<%= mail_user.id %>"
              <% if @form_data[:in_alias].where('mail_user_id = ?', mail_user.id).count == 1 %>
                class="success"
              <% end %>
          >

            <td><%= mail_user.id %></td>
            <td><%= mail_user.email %></td>
            <td>
              <input type="checkbox" id="c_<%= mail_user.id %>" name="c_<%= mail_user.id %>" onclick="user_to_alias(<%= @form_data[:al].id %>, <%= mail_user.id %>)"
                     <% if @form_data[:in_alias].where('mail_user_id = ?', mail_user.id).count == 1 %>
                     checked="checked"
                     <% end %>
              >
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

  </div>

</div>

