<% @form_data[:my_book].each do |list| %>
    <tr id="r_<%= list.id %>">
      <td><%= list.organisation%></td>
      <td><%= list.department%></td>
      <td><%= list.position%></td>
      <td><%= list.fio%></td>

      <td>

      <% if list.email_1 != '' %>
          <a type="button" class="btn btn-info btn-sm" href="mailto:<%=list.email_1%>"><i class="fa fa-envelope"></i></a>
      <% else %>
          <a type="button" class="btn btn-info btn-sm disabled"><i class="fa fa-envelope"></i></a>
      <% end %>

      <% if list.email_2 != '' %>
          <a type="button" class="btn btn-info btn-sm" href="mailto:<%=list.email_2%>"><i class="fa fa-envelope"></i></a>
      <% else %>
          <a type="button" class="btn btn-info btn-sm disabled"><i class="fa fa-envelope"></i></a>
      <% end %>

      <% if list.phone_1 != '' %>
          <a type="button" class="btn btn-success btn-sm" onclick="call(<%= list.phone_1 %>)"><i class="fa fa-phone"></i></a>
      <% else %>
          <a type="button" class="btn btn-success btn-sm disabled"><i class="fa fa-phone"></i></a>
      <% end %>

      <% if list.phone_2 != '' %>
          <a type="button" class="btn btn-success btn-sm" onclick="call(<%= list.phone_2 %>)"><i class="fa fa-phone"></i></a>
      <% else %>
          <a type="button" class="btn btn-success btn-sm disabled"><i class="fa fa-phone"></i></a>
      <% end %>

      </td>
    </tr>
<% end %>