<% @form_data[:my_book].each do |list| %>
    <tr id="r_<%= list.id %>">
      <td><%= list.organisation%><i class="fa fa-info-circle pull-right" style="cursor: pointer;" onclick="info_show(<%= list.id %>)"></i></td>
      <td><%= list.department%></td>
      <td><%= list.position%></td>
      <td><%= list.fio%></td>

      <td>

      <% if list.email_1 != '' %>
          <a type="button" class="btn btn-info btn-sm" href="mailto:<%=list.email_1%>"><i class="fa fa-envelope"></i></a>
      <% else %>

      <% end %>

      <% if list.email_2 != '' %>
          <a type="button" class="btn btn-info btn-sm" href="mailto:<%=list.email_2%>"><i class="fa fa-envelope"></i></a>
      <% else %>

      <% end %>

      <% if list.phone_1 != '' %>
          <a type="button" class="btn btn-success btn-sm" onclick="call(<%= list.phone_1 %>)"><i class="fa fa-phone"></i></a>
      <% else %>

      <% end %>

      <% if list.phone_2 != '' %>
          <a type="button" class="btn btn-success btn-sm" onclick="call(<%= list.phone_2 %>)"><i class="fa fa-phone"></i></a>
      <% else %>

      <% end %>


        <% if list.User_id == session[:user_id] %>
            <a type="button" class="btn btn-warning btn-sm" onclick="my_book_edit_show(<%= list.id %>)"><i class="fa fa-edit"></i></a>
        <% end %>


      </td>
    </tr>
<% end %>