
<%= javascript_include_tag "main" %>
<%= javascript_include_tag "address_book" %>


<% if !session[:is_login] %>
    <div class="alert alert-danger" role="alert">
      <a href="/login" class="alert-link">Для вызова адресатов из адресной книги, введите логин и пароль</a>
    </div>
<%  end %>

<div class="panel panel-info">

  <div class="panel-heading">
    <div class="panel-title">
      Адресная книга корпоративная
    </div>
  </div>

  <ul class="pagination pagination-my">
    <li <%= @form_data[:id]==nil ? 'class=active' :'' %> ><a href='/address_book/list/all'>&nbsp;&nbsp;&nbsp;Все&nbsp;&nbsp;&nbsp;</a></li>
    <li <%= @form_data[:id]=='А' ? 'class=active' :'' %> ><a href='/address_book/list/А'>А</a></li>
    <li <%= @form_data[:id]=='Б' ? 'class=active' :'' %> ><a href='/address_book/list/Б'>Б</a></li>
    <li <%= @form_data[:id]=='В' ? 'class=active' :'' %> ><a href='/address_book/list/В'>В</a></li>
    <li <%= @form_data[:id]=='Г' ? 'class=active' :'' %> ><a href='/address_book/list/Г'>Г</a></li>
    <li <%= @form_data[:id]=='Д' ? 'class=active' :'' %> ><a href='/address_book/list/Д'>Д</a></li>
    <li <%= @form_data[:id]=='Е' ? 'class=active' :'' %> ><a href='/address_book/list/Е'>Е</a></li>
    <li <%= @form_data[:id]=='Ё' ? 'class=active' :'' %> ><a href='/address_book/list/Ё'>Ё</a></li>
    <li <%= @form_data[:id]=='Ж' ? 'class=active' :'' %> ><a href='/address_book/list/Ж'>Ж</a></li>
    <li <%= @form_data[:id]=='З' ? 'class=active' :'' %> ><a href='/address_book/list/З'>З</a></li>
    <li <%= @form_data[:id]=='И' ? 'class=active' :'' %> ><a href='/address_book/list/И'>И</a></li>
    <li <%= @form_data[:id]=='Й' ? 'class=active' :'' %> ><a href='/address_book/list/Й'>Й</a></li>
    <li <%= @form_data[:id]=='К' ? 'class=active' :'' %> ><a href='/address_book/list/К'>К</a></li>
    <li <%= @form_data[:id]=='Л' ? 'class=active' :'' %> ><a href='/address_book/list/Л'>Л</a></li>
    <li <%= @form_data[:id]=='М' ? 'class=active' :'' %> ><a href='/address_book/list/М'>М</a></li>
    <li <%= @form_data[:id]=='Н' ? 'class=active' :'' %> ><a href='/address_book/list/Н'>Н</a></li>
    <li <%= @form_data[:id]=='О' ? 'class=active' :'' %> ><a href='/address_book/list/О'>О</a></li>
    <li <%= @form_data[:id]=='П' ? 'class=active' :'' %> ><a href='/address_book/list/П'>П</a></li>
    <li <%= @form_data[:id]=='Р' ? 'class=active' :'' %> ><a href='/address_book/list/Р'>Р</a></li>
    <li <%= @form_data[:id]=='С' ? 'class=active' :'' %> ><a href='/address_book/list/С'>С</a></li>
    <li <%= @form_data[:id]=='Т' ? 'class=active' :'' %> ><a href='/address_book/list/Т'>Т</a></li>
    <li <%= @form_data[:id]=='У' ? 'class=active' :'' %> ><a href='/address_book/list/У'>У</a></li>
    <li <%= @form_data[:id]=='Ф' ? 'class=active' :'' %> ><a href='/address_book/list/Ф'>Ф</a></li>
    <li <%= @form_data[:id]=='Х' ? 'class=active' :'' %> ><a href='/address_book/list/Х'>Х</a></li>
    <li <%= @form_data[:id]=='Ц' ? 'class=active' :'' %> ><a href='/address_book/list/Ц'>Ц</a></li>
    <li <%= @form_data[:id]=='Ч' ? 'class=active' :'' %> ><a href='/address_book/list/Ч'>Ч</a></li>
    <li <%= @form_data[:id]=='Ш' ? 'class=active' :'' %> ><a href='/address_book/list/Ш'>Ш</a></li>
    <li <%= @form_data[:id]=='Щ' ? 'class=active' :'' %> ><a href='/address_book/list/Щ'>Щ</a></li>
    <li <%= @form_data[:id]=='Ы' ? 'class=active' :'' %> ><a href='/address_book/list/Ы'>Ы</a></li>
    <li <%= @form_data[:id]=='Э' ? 'class=active' :'' %> ><a href='/address_book/list/Э'>Э</a></li>
    <li <%= @form_data[:id]=='Ю' ? 'class=active' :'' %> ><a href='/address_book/list/Ю'>Ю</a></li>
    <li <%= @form_data[:id]=='Я' ? 'class=active' :'' %> ><a href='/address_book/list/Я'>Я</a></li>
  </ul>

  <div class="panel-body">

    <table class="table table-bordered table-condensed tablesorter" id="tbl_adresses" name="tbl_adresses">
      <thead>

          <tr>
            <th data-placeholder="" class="filter-match col-md-3">ФИО</th>
            <th data-placeholder="" class="filter-match col-md-3">Должность</th>
            <th data-placeholder="" class="filter-match col-md-2">Отдел</th>
            <th data-placeholder="" class="filter-match col-md-1">Организация</th>
            <th data-placeholder="" class="filter-match col-md-1"></th>

          </tr>

      </thead>
      <tbody>
          <% @form_data[:address_book].each.with_index do |address, index| %>
              <%
                 phone_c = ''
                 phone_m = ''
                 phone_i = ''
                 phone_h = ''
                 phone_main = ''

                 phone_c_str = ''
                 phone_m_str = ''
                 phone_h_str = ''
                 phone_main_str = ''

                phones = CorpNumber.where('address_book_corp_id = ?', address.id)
                phones.each do |phone|
                    case phone.type_n
                        when 'c'
                          phone_c = '8'+phone.number
                          phone_c_str = phone.number
                        when 'm'
                          phone_m = '8'+phone.number
                          phone_m_str = phone.number
                        when 'h'
                          phone_h = '8'+phone.number
                          phone_h_str = phone.number
                        when 'i'
                          phone_i = phone.number
                      else
                    end

                    if phone_i != ''
                      phone_main = phone_i
                    elsif phone_c != ''
                      phone_main = phone_c
                      phone_main_str = phone_c_str
                    elsif phone_m != ''
                      phone_main = phone_m
                      phone_main_str = phone_m_str
                    elsif phone_h != ''
                      phone_main = phone_h
                      phone_main_str = phone_h_str
                    end

                end

              %>

              <tr id="r_<%= address.id %>">
                <td><%= address.fio %></td>
                <td><%= address.position%></td>
                <td><%= address.department%></td>
                <td><%= address.organisation%> (<%= address.address%>)</td>

                <td>

                  <% if address.email != ''%>
                    <a type="button" class="btn btn-info btn-sm" href="mailto:<%=address.email%>"><i class="glyphicon glyphicon-envelope"></i></a>
                  <% else %>
                    <a type="button" class="btn btn-info btn-sm disabled"><i class="glyphicon glyphicon-envelope"></i></a>
                  <% end %>


                  <div class="btn-group ">

                    <% if phone_main != ''%>
                        <button type="button" class="btn btn-success btn-sm" onclick="call(<%=phone_main%>)"><i class="glyphicon glyphicon-phone-alt"></i></button>

                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" >
                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <% if phone_i != ''%>
                              <li><a onclick="call(<%=phone_i%>)"><%= phone_i %></a></li>
                          <% end %>
                          <% if phone_c != ''%>
                              <li><a onclick="call(<%=phone_c%>)"><%= phone_c_str %></a></li>
                          <% end %>
                          <% if phone_m != ''%>
                              <li><a onclick="call(<%=phone_m%>)"><%= phone_m_str %></a></li>
                          <% end %>
                          <% if phone_h != ''%>
                              <li><a onclick="call(<%=phone_h%>)"><%= phone_h_str %></a></li>
                          <% end %>
                        </ul>

                    <% else %>
                        <button type="button" class="btn btn-success btn-sm disabled" ><i class="glyphicon glyphicon-phone-alt"></i></button>
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle disabled" data-toggle="dropdown" >
                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                    <% end %>

                  </div>

                </td>

              </tr>
          <% end %>
      </tbody>
    </table>

  </div>

</div>

